<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE>
        {% block title %}
        {% endblock %}
    </TITLE>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

</HEAD>
<BODY>
<div class="container">
    <div class="col-md-12">
        {% block body %}
        {% endblock %}
    </div>
</div>
<script src="bootstrap/js/bootstrap.js"></script>
</BODY>
</HTML>

