{% extends "base.html.twig" %}

{% block title %}
    Category Tool by Matthewrbowker
{% endblock %}

{% block body %}
    <H1>Category Tool by Matthewrbowker</H1>
    <form action="" method="get">
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Category">
        </div>
        <input type="submit" class="btn btn-success" value="Submit" />
        <input type="reset" class="btn btn-danger" value="Reset" />

    </form>
<hr />
    Thanks to the following libraries:
    <ul>
        <li><a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a> - MIT</li>
        <li><a href="https://twig.symfony.com/" target="_blank">Twg</a> - New BSD</li>
        <li><a href="https://github.com/DaveChild/Text-Statistics/" target="_blank">PHP Text Statistics</a> - BSD-2-Clause</li>
        <li><a href="https://github.com/addwiki/mediawiki-api-base" target="_blank">mediawiki-api-base</a> - GPL-2</li>
    </ul>
{% endblock %}